<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facture</title>
    <style>
      h1 {
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      h2, h3 {
        margin-top: -5px;
        font-size: 14px;
        text-align: center;
      }
      hr {
        background-color: black;
        border-color: black;
        margin: 10px 0;
      }
      .content {
        font-size: 12px;
        margin-right: 10px;
        margin-left: 10px;
        line-height: 1.2;
      }
      .item {
        width: 100%;
        border-collapse: collapse;
      }
      th {
        font-size: 12px;
        border: solid 0.5px black;
        padding: 5px;
      }
      .item-element {
        font-size: 11px;
        border: solid 0.5px black;
        text-align: right;
        padding: 2px;
      }
      .item-element-name {
        font-size: 11px;
        border: solid 0.5px black;
        text-align: left;
        padding: 2px;
      }
      .bref {
        text-align: right;
        border-collapse: collapse;
        width: 40%;
        border-bottom: dashed 0.5px black;
        font-size: 12px;
        margin-top: 5px;
      }
      .total {
        width: 100%;
        float: none;
        font-size: 12px;
      }
      .align-right {
        text-align: right;
      }
      .address {
        text-align: center;
        font-size: 10px;
        margin-top: 10px;
      }
      .info {
        font-size: 11px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Catfish Land</h1>
    <h3>FACTURE N°: <%= data.number %></h3>
    <div class="content">
      <div class="info">
        DATE : <%= data.date %> <br />
        HEURE : <%= data.hours %> <br />
        CLIENT : <%= data.client %> <br />
        VOUS ÊTES SERVI PAR : <%= data.nameOfServer %> <br />
      </div>
      <table class="item">
        <tr>
          <th>ARTICLE</th>
          <th>QTÉ</th>
          <th>PU</th>
          <th>PT</th>
        </tr>
        <% data.item.forEach(item => { %>
          <tr>
            <td class="item-element-name"><%= item.productName %></td>
            <td class="item-element"><%= item.quantity %></td>
            <td class="item-element"><%= item.price %> Fc</td>
            <td class="item-element"><%= item.price * item.quantity %> Fc</td>
          </tr>
        <% }); %>
      </table>

      <br />
      <table class="bref" align="right">
        <tr>
          <td>TOTAL</td>
          <td><%= data.total %> Fc</td>
        </tr>
        <tr>
          <td>REMISE</td>
          <td><%= data.reduction %> Fc</td>
        </tr>
      </table>
      <br /><br /><br />
      <table class="total">
        <tr>
          <td>TOTAL GÉNÉRAL (en Fc)</td>
          <td class="align-right"><%= data.totalGeneral %> Fc</td>
        </tr>
        <tr>
          <td>TOTAL GÉNÉRAL (en $)</td>
          <td class="align-right"><%= parseFloat(data.totalGeneral / 2850).toFixed(1) %> $</td>
        </tr>
      </table>
      <br />
      <hr />
      <div>
        <span style="float: left; font-size: 10px;">Catfish Land</span>
      </div>
    </div>
  </body>
</html>
